#bmi-result {
  background-color: #ffffff;
  max-width: auto;
  margin: 50px auto;
  padding: 5px;
  text-align: center;

  h2 {
    color: $primary-green; 
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
  }

  .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .bmi-value,
    .bmi-status {
      font-size: 30px;
      font-weight: 500;
      color: #333;

      span {
        font-weight: bold;
        color: $primary-green;
        padding: 30px;
      }
    }
  }

  .relevant-articles {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
  
    h3 {
      margin-bottom: 20px;
      padding: 20px;
      font-size: 1.5rem;
      color: #333;
    }
  
    .articles-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  
    .article-item {
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }
  
      .article-link {
        text-decoration: none;
        font-size: 10px;
        color: inherit;
  
        img {
          width: 100%;
          height: 330px; 
          display: block;
        }
  
        .article-title {
          padding: 10px;
          font-size: 20px;
          font-weight: bold;
          background-color: white;
        }
        .article-date {
          font-size: 0.875rem;
          color: #888;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  
  

  /* Responsif */
  @media screen and (max-width: 768px) {
    .relevant-articles {
      .articles-list {
        gap: 30px;

        .article-item {
          max-width: 200px;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    padding: 25px;

    h2 {
      font-size: 24px;
    }

    .result-container {
      .bmi-value,
      .bmi-status {
        font-size: 20px;
      }
    }

    .relevant-articles {
      .articles-list {
        gap: 20px;

        .article-item {
          max-width: 150px;

          img {
            border-radius: 8px;
          }

          .article-title {
            font-size: 14px;
          }
        }
      }
    }
  }
}
